*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(236, 165, 83);
}


.heading_container {
    position: relative;
    top: 76px;
    left: 562px;
}

.first_value{
    position: relative;
    top: 122px;
    left: 211px;
}

.second_value{
    position: relative;
    top: 100px;
    left: 744px;
}

#add{
    background-color: aquamarine;
    position: relative;
    top: 116px;
    left: 447px;
}

#sub{
    background-color: chartreuse;
    position: relative;
    top: 116px;
    left: 463px;
}

#mul{
    color: wheat;
    background-color: crimson;
    position: relative;
    top: 116px;
    left: 479px;
}

#div{
    color: white;
    background-color: darkslateblue;
    position: relative;
    top: 116px;
    left: 495px;
}

#rem{
    background-color: hotpink;
    position: relative;
    top: 116px;
    left: 511px;
}

.res{
    position: relative;
    top: 192px;
    left: 528px;
}

.area{
    position: relative;
    top: 166px;
    left: 597px;
}
