*{
    margin: 0;
    padding: 0;
}

:root{
    --main-bg-color: #2874f0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    font-family: 'Lato', sans-serif;
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin:0 16px 0 56px;
    padding:0 12px;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

.slider{
    margin: 12px 10px;
    width: 80vw;
    overflow: hidden;
}

.card{
    width: 80vw;
    margin:37px auto;
}

.cards{
    display: flex;
    overflow: hidden;
    /* align-items: center;
    justify-content: center; */
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin:0 15px;
}


.my-1{
    margin:5px 0;
}

.my-2{
    margin:26px 0;
}

.text-center{
    text-align: center;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}