body {
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
  width: 100%;
  text-align: center;
  height: 5vh;
}

main {
  background-color: rgb(57, 201, 153);
  height: 90vh;
}

#quotes-screen {
  border-color: #000;
  color: #fff;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  right: 34%;
  top: 15%;
  width: 31%;
}

#generate-button {
  position: absolute;
  top: 50%;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  text-shadow: 1px 1px 1px #000;
}

#generate-button:hover {
  position: relative;
  top: 50%;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: white;
  cursor: pointer;
  padding: 14px 20px;
  text-shadow: 1px 1px 1px #000;
  background-color: #3e8e41; /* Darker green */
}

footer {
  background-color: black;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 5vh;
}

#glow-text {
  margin: 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
