
.second-navbar {
    margin-top: 56px;
    border-top: 0.5px solid rgba(124, 120, 120, 0.973);

}


.nav2logo{
    background-color: rgba(252, 7, 7, 0.801);
    margin-top: 112px;

}
#black{
    background-color: white;
}



@import url('https://fonts.googleapis.com/css?family=Orbitron');
#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  height: 70px;
  width: 200px;
  margin-top: 10px;
  margin-left:340px;
  border: 4px solid rgba(77, 75, 75, 0.952);
  border-radius: 20px;
}
@media all and (max-width:30em){
    #clock{
        display:block;
        margin:0.2em auto;
    }
}


.screen{
    color: rgba(255, 255, 255, 0.973);
    background-color: #000000e5;
    border: 6px solid rgb(27, 191, 212);
    align-items: center;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    height: 100px;
}


#sidecon{
    margin-top: 10px;
}


#dark-outlined1{
    background-color: #000000e5;
    margin-top:5px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color:white;
    border: 4px solid rgba(247, 7, 175, 0.856);
    border-radius: 20px;
    margin-bottom: 5px;

}

#dark-outlined1:hover{
    background-color: rgb(140, 0, 168);
}
#dark-outlined1:focus + label{
    background-color: yellow;
}

#dark-outlined2{
    background-color: #000000e5;
    margin-top:5px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color:white;
    border: 4px solid rgba(247, 7, 175, 0.856);
    border-radius: 20px;
    margin-bottom: 5px;

}

#dark-outlined2:hover{
    background-color: rgb(140, 0, 168);
}
#dark-outlined2:focus + label{
    background-color: yellow;
}

#dark-outlined3{
    background-color: #000000e5;
    margin-top:5px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color:white;
    border: 4px solid rgba(247, 7, 175, 0.856);
    border-radius: 20px;
    margin-bottom: 5px;

}

#dark-outlined3:hover{
    background-color: rgb(140, 0, 168);
}
#dark-outlined3:focus + label{
    background-color: yellow;
}

#dark-outlined4{
    background-color: #000000e5;
    margin-top:5px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color:white;
    border: 4px solid rgba(247, 7, 175, 0.856);
    border-radius: 20px;
    margin-bottom: 5px;

}

#dark-outlined4:hover{
    background-color: rgb(140, 0, 168);
}
#dark-outlined4:focus + label{
    background-color: yellow;
}




#submitbtnn{
    background-color: orangered;
    margin-top:10px;
    height: 60px;
    text-align: center;
    color:white;
    border: 2px solid rgb(46, 44, 44);
    border-radius: 20px;
    cursor: pointer;


}
#submitbtnn:hover{
    background-color: rgb(180, 25, 201);
    color: #000;
}

#submitbtnn:focus{
    background-color: rgb(67, 202, 243);
    color: black;
}





