<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "Css/bootstrap.min.css" %}">

    <title>Register User</title>
  </head>
  <body>
    <h1>Register Page</h1>
    <form action="login" method='post' > {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Create Username:</label>
          <textarea class="form-control" name='username' id="exampleFormControlTextarea1" rows="1"></textarea>
      
          <label for="exampleFormControlTextarea2">Create Password:</label>
          <textarea class="form-control" name='password' id="exampleFormControlTextarea2" rows="1"></textarea>
          <br>
          <button type="submit" id="my_button2" class="btn btn-dark">
                <style>
                    #my_button2:hover{
                        background-color:palevioletred;
                        color:black;
                    }
                </style>
                Register User
           </button>
        </div>
    </form>
  </body>
</html>


