*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(24, 23, 40);
    color: white;
    height: 11vh;
    display: flex;
}

#upper_logo{
    position: relative;
    right: -20px;
    height: 54px;
    top: 8px;
}

.select_address{
    position: relative;
    left: 41px;
    top: 7px;
    border: 1px solid rgb(24, 23, 40);
    height: 52px;
    border-radius: 2px;
    width: 168px;
    cursor:pointer;
}

.select_address:hover{
    position: relative;
    left: 41px;
    top: 7px;
    border: 1px solid white;
    height: 52px;
    border-radius: 2px;
    width: 168px;
    cursor:pointer;
}

#loc_pic_nav{
    width: 20px;
    position: relative;
    top: 19px;
    right: -5px;
}

header nav .select_address pre{
    position: relative;
    left: -75px;
    top: -10px;
}


#drop-menu{
    width: 53px;
    height: 46px;
    position: relative;
    left: 81px;
    top: 10px;
}

#drop-menu:hover{
    width: 53px;
    height: 46px;
    position: relative;
    left: 81px;
    top: 10px;
    background-color: gray;
    cursor: pointer;
}

#searching_bar{
    position: relative;
    width: 555px;
    top: 10px;
    left: 81px;
    height: 41px
}

#search_logo{
    position: relative;
    top: 10px;
    height: 45px;
    left: 29px;
    cursor: pointer;
}

.sign-in-box{
    
    border: 2px solid rgb(24, 23, 40);
    width: 131px;
    height: 46px;
    position: relative;
    top: 7px;
    left: 71px;
    cursor: pointer;
}

.sign-in-box:hover{
    
    border: 2px solid white;
    width: 131px;
    height: 46px;
    position: relative;
    top: 7px;
    left: 71px;
    cursor: pointer;
}

#down_arrow{
    position: relative;
    left: 111px;
    top: -16px;
}

.return_and_orders{
    border: 2px solid rgb(24, 23, 40);
    width: 73px;
    height: 46px;
    position: relative;
    top: 7px;
    left: 79px;
}

.return_and_orders:hover{
    border:2px solid white;
    width: 73px;
    height: 46px;
    position: relative;
    top: 7px;
    left: 79px;
    cursor: pointer;
}

.cart_nav {
    border: 2px solid rgb(24, 23, 40);
    width: 71px;
    position: relative;
    left: 73px;
    height: 46px;
    top: 10px;
}

.cart_nav:hover {
    cursor:pointer;
    border: 2px solid white;
    width: 71px;
    position: relative;
    left: 73px;
    height: 46px;
    top: 10px;
}

#cart-image{
    position: relative;
    left: 1px;
    width: 41px;
    top: 5px;
}

.second_one{
    background-color: #1e2e5b;
    height: 41px;
}

.all-menu{
    border: 2px solid #1e2e5b;
    position: relative;
    left: 20px;
    height: 28px;
    top: 3px;
    width: 57px;
}

.all-menu:hover{
    border: 2px solid white;
    position: relative;
    left: 20px;
    height: 28px;
    top: 3px;
    width: 57px;
    cursor: pointer;
}

.all-menu div{
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    left: 3px;
}

.best-sellers{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 86px;
    position: relative;
    left: 31px;
    top: 4px;
}


.best-sellers:hover{
    cursor:pointer;
    border: 2px solid white;
    height: 28px;
    width: 86px;
    position: relative;
    left: 31px;
    top: 4px;
}

.mobiles{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 79px;
    position: relative;
    left: 31px;
    top: 4px;
}

.mobiles:hover{
    cursor:pointer;
    border: 2px solid white;
    height: 28px;
    width: 79px;
    position: relative;
    left: 31px;
    top: 4px;
}

.customer-service{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 116px;
    position: relative;
    left: 34px;
    top: 4px;
}

.customer-service:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 116px;
    position: relative;
    left: 34px;
    top: 4px;
}

.todays-deal{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 90px;
    position: relative;
    left: 38px;
    top: 4px;
}

.todays-deal:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 90px;
    position: relative;
    left: 38px;
    top: 4px;
}

.fashion{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 57px;
    position: relative;
    left: 43px;
    top: 4px;
}

.fashion:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 57px;
    position: relative;
    left: 43px;
    top: 4px;
}

.electronics{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 87px;
    position: relative;
    left: 47px;
    top: 4px;
}

.electronics:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 87px;
    position: relative;
    left: 47px;
    top: 4px;
}

.prime{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 46px;
    position: relative;
    left: 51px;
    top: 4px;
}

.prime:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 46px;
    position: relative;
    left: 51px;
    top: 4px;
}

.home-and-kitchen{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 109px;
    position: relative;
    left: 55px;
    top: 4px;
}

.home-and-kitchen:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 109px;
    position: relative;
    left: 55px;
    top: 4px;
}

.amazon-pay{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 82px;
    position: relative;
    left: 59px;
    top: 4px;
}

.amazon-pay:hover{
    cursor: pointer;
    border: 2px solid white;
    width: 82px;
    position: relative;
    left: 59px;
    top: 4px;
}

.new-releases{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 96px;
    position: relative;
    left: 67px;
    top: 4px;
}

.new-releases:hover{
    cursor: pointer;
    border: 2px solid white;
    width: 96px;
    position: relative;
    left: 67px;
    top: 4px;
}


.computers{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 68px;
    position: relative;
    left: 75px;
    top: 4px;
}

.computers:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 68px;
    position: relative;
    left: 75px;
    top: 4px;
}

.books{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 41px;
    position: relative;
    left: 90px;
    top: 4px;
}

.books:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 41px;
    position: relative;
    left: 90px;
    top: 4px;
}


.coupons{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 54px;
    position: relative;
    left: 107px;
    top: 4px;
}

.coupons:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 54px;
    position: relative;
    left: 107px;
    top: 4px;
}

.toys-and-games{
    border: 2px solid #1e2e5b;
    height: 28px;
    width: 104px;
    position: relative;
    left: 114px;
    top: 4px;
}

.toys-and-games:hover{
    cursor: pointer;
    border: 2px solid white;
    height: 28px;
    width: 104px;
    position: relative;
    left: 114px;
    top: 4px;
}