@media (max-width: 768px) {
  .logo {
    width: 150px;
  }
  #piano {
    width: 358px;
  }
  .keys {
    width: 318px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  #piano {
    width: 675px;
  }
  .keys {
    width: 633px;
  }
}
